.background-color {
background:linear-gradient(to bottom, white, purple);
  min-height: 100vh;
}

.welcome-message {
  color: purple;
}

.welcome-message2 {
  color: purple;
  font-weight: bold;
}

.empty-div {
  height: 100px;
  background-color: white;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  align-content: center;
}

.brand-slogan {
  background-color: white;
  color: purple;
  font-weight: bold;
  width: 300px;
  margin-top: 100px;
  margin-left: 400px;
  margin-bottom: 20px;
  position: flex;
  align-content: center;
  height: 150px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.task-button {
  background-color: white;
  color: purple;
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}