.background {
  background:linear-gradient(to bottom, white, purple);
  min-height: 100vh;
  width: 1120px;
  max-width: 95%;
  margin: 0 auto;
}

.myTask {
  text-align: start;
}

.achievement-div {
  text-align: start;
  background-color: white;
}

.task-div {
  text-align: start;
  background:linear-gradient(to bottom, rgb(212, 148, 212), rgb(170, 8, 170));
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1px 20px;
}

.enter-task {
  height: 30px;
  width: 70%;
  border: none;
  border-radius: 5px;
}

.add-task {
  height: 32px;
  border-radius: 5px;
  border: none;
  background-color: rgb(170, 40, 170);
  color: white;
  font-weight: 700;
}

.buttons-div {
  display: flex;
  gap: 10px;
}

.button-div1,
.button-div2,
.button-div3 {
  width: 80px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.button-div1 {
  background-color: green;
  color: white;
}

.button-div2 {
  background-color: purple;
  color: white;
}

.button-div3 {
  background-color: red;
  color: white;
}

.tasks-div {
  color: white;
  font-weight: bold;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

.filter-button1,
.filter-button2,
.filter-button3,
.search-bar {
  margin-top: 10px;
  height: 40px;
  width: 60%;
  margin-left: 20%;
  color: white;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.active-filter {
   background-color: white;
   margin-top: 10px;
  height: 40px;
  width: 60%;
  margin-left: 20%;
  color: purple;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.filter-button1 {
  background-color: rgb(216, 77, 216);
}

.filter-button2 {
  background-color: rgb(167, 66, 167);
}

.filter-button3 {
  background-color: purple;
}

.search-bar {
 padding-left: 40px; 
 margin-left: -5px;
 width: 55%;
 margin-bottom: 20px;
 border: 2px solid purple;
}

.progress-container {
  background-color: grey;
  height: 12px;
  display: flex;
  align-items: center;
}

.progress-fill {
  height: 17px;
  background-color: purple;
}

.progress-para {
  color: rgb(75, 8, 75);
  font-weight: 500;  
}
.achievement-para {
  color: rgb(75, 8, 75);
  font-weight: 500;  
  padding-top: 20px;
}

.your-achievements {
  color: rgb(75, 8, 75);
}

.achievement-icon {
  margin: 0 10px 5px 10px;
  color: green;
  font-size: larger;
}

.icon-achievement {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

.icon-progress {
  display: flex;
  align-items: center;
  padding: 20px 0 10px 0;
}

.progress-icon {
  color: rgb(75, 6, 75);
   margin: 0 10px 0 10px;
}





@media (max-width: 768px) {
 .task-div {
  display: flex;
  flex-direction: column;
  height: 60px;
  padding: 10px 30px;
 }

 .button-div1,
.button-div2,
.button-div3 {
  width: 100px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  height: 30px;
}

.tasks-div {
  word-break: break-word;
}
}